header{
    text-align: center;
    font-size: 150%;
    background-color: black;
    color: white;
}
footer{
    text-align: center;
    font-size: 150%;
    background-color: rgb(129, 129, 129);
    color: white;
}