
.container {
    display: grid;
    flex-wrap: wrap;
    columns: 2;
  }
  
  .project {
  justify-content: right;
  
     }
  
 
  p{
      color: blue;
  }
.text{
text-align: center;
justify-content: center;
}
  
